<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
    <title>Vivid</title>
</head>

<body>


    <nav>
        <ul type="none" class="nav">
            <li><img src="images/logo.png" style="height: 20px;padding-right: 7px"></li>
            <li id="hovernav" style="text-shadow: 1rem;font-family: 'Courier New', Courier, monospace;color:white;padding-left: 18px;">
                Home
            </li><img src="images/home.png" style="height: 20px;padding-right: 7px">
            <li id="hovernav" style="text-shadow: 1rem;font-family: 'Courier New', Courier, monospace;color:white">
                Explore</li><img src="images/explore.png" style="height: 20px;padding-right: 7px">
            <li>
                <form class="example" action="">
                    <input class="example1" type="text" placeholder="Search  " name="search">
                    <button class="example1">Search</button>
                </form>
            </li>
            <li>
                <img class="dum" src="images/dummy.png" style="height:29px;padding-right: 7px"><span id="NAME"><%= Name %></span>
                <a href="index.html" style="text-decoration:none"><span onclick="lo()" id="logout">Log Out</span></a>
            </li>
        </ul>
    </nav>


</body>



</html>